<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <!--Connection string-->
  <connectionStrings>
    <add name="subSonicConnectionString" connectionString="Data Source=192.168.1.254; Initial Catalog=LK_NghiepVuY; User ID=lablink;Password=lablink;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Castle config-->
  <castle>
    <components>
      <component id="Service.MainService" service="VietBa.HISLink.Services.IMainService, VietBa.HISLink.Services" type="VietBa.HISLink.Services.Implementation.MainService, VietBa.HISLink.Services" />
      <component id="Service.LogService" service="VietBa.HISLink.Services.ILogService, VietBa.HISLink.Services" type="VietBa.HISLink.Services.Implementation.LogService, VietBa.HISLink.Services" />
      <component id="Aspects.Log" type="VietBa.HISLink.Core.Aspects.LogAspect, VietBa.HISLink.Core" />
      <component id="Aspects.Exception" type="VietBa.HISLink.Core.Aspects.ExceptionAspect, VietBa.HISLink.Core" />
    </components>
  </castle>
  <!--Subsonic config-->
  <SubSonicService defaultProvider="ORM">
    <providers>
      <clear />
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="VietBa.HISLink.Models" />
    </providers>
  </SubSonicService>
  <!--log4Net config-->
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="ON" />
      <file value="VietBa_HIS.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <!--Message and constants-->
  <appSettings>
    <add key="WARNING_ERROR" value="yêu em" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>